.first-connect {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #caa069 ;
    background-position: center;
    z-index: 998;
}

.first-connect h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Rye', cursive;
    color:rgb(0, 0, 0);
    text-shadow: 1px 1px 0 #caa069, 1px 8px 5px #000000;
}

.first-connect h4 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-bottom: 0.2rem solid black;
    padding-bottom: 2rem;
}

.first-connect a {
    font-size: 18px;
    color: rgb(155, 62, 0);
}

.first-connect p {
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding-top: 1rem;
}

.first-container-connect p {
    color: rgb(0, 0, 0);
    border-bottom: 0.2rem solid black;
    padding-bottom: 25px;

}

.first-container-connect {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 40px;
    max-width: 700px;
    margin: 0 auto 6rem auto;
   
}



.timeline ul {
    display: block;
    border-left: 4px solid #000000;
    border-radius: .8rem;
    background-image: url(/images/vintagebg3.jpg);
    background-size: cover;
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    z-index: 999;
    text-align: left;
    width: 50%;
    box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.438);
}
